<!DOCTYPE html>
<html lang="{{ .Lang }}">
  <head>
    {{- block "title" .}}{{- end }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="/files/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/files/favicon/favicon-16x16.png">

    {{ $style := resources.Get "sass/main.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{$style.RelPermalink}}">

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet' />

    {{ $js := resources.Get "js/index.js"  | resources.Fingerprint }}
    <script src="{{$js.RelPermalink}}"></script>
  </head>
  <body>
    <main id="content" name="content">
      {{- block "main" . }}{{- end }}
    </main>
  </body>
</html>
